<div class="navbar">
	<%= link_to "My Pics", mypics_path, id: "my_pics", remote: true %>
  <%= link_to 'New', root_path %>
  <%= link_to 'Rankings', rankedimages_path, id: "ranked_images", remote: true %>
  <%= link_to 'Sign Out', session_path(current_user), :method => :delete, id: 'logout' %>
</div>

